body#birds-main {
  font-family: 'Open Sans', sans-serif;
  color: #888;
  margin: 0; }
  body#birds-main header {
    width: 100vw;
    border-bottom: 1px solid #ddd;
    padding: 10px 0; }
    body#birds-main header .header-container {
      width: 82vw;
      margin: auto;
      text-align: left;
      font-weight: bold; }
      body#birds-main header .header-container span {
        font-style: italic;
        color: #aaa;
        letter-spacing: 2px;
        font-size: 17px; }
      body#birds-main header .header-container ul, body#birds-main header .header-container li {
        display: inline-block; }
      body#birds-main header .header-container ul {
        padding: 0;
        margin: 3px 0 0;
        float: right; }
        body#birds-main header .header-container ul li {
          margin: 0 1vw;
          font-size: 13px;
          cursor: pointer; }
  body#birds-main main#gallery {
    width: 84vw;
    margin: 50px auto; }
    body#birds-main main#gallery .row {
      margin: 0; }
      body#birds-main main#gallery .row div.image-container {
        width: 21vw;
        height: 21vw;
        padding: 0.5vw;
        border: 1px solid #ddd;
        display: inline-block; }
        body#birds-main main#gallery .row div.image-container img.image, body#birds-main main#gallery .row div.image-container div.waiting {
          position: absolute;
          width: 20vw;
          height: 20vw; }
        body#birds-main main#gallery .row div.image-container img.image {
          object-fit: cover;
          cursor: pointer; }
          body#birds-main main#gallery .row div.image-container img.image:hover {
            opacity: 0.5; }
  body#birds-main main#index {
    width: 100vw;
    height: 95vh; }
    body#birds-main main#index .swiper-container {
      width: 100%;
      height: 100%; }
    body#birds-main main#index .swiper-slide {
      background-position: center;
      background-size: cover; }
  body#birds-main main {
    display: none; }
    body#birds-main main.active {
      display: block; }
  body#birds-main .fixed.iframe {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 3vh 3vw;
    background: rgba(0, 0, 0, 0.8); }
    body#birds-main .fixed.iframe img {
      object-fit: contain;
      width: 100%;
      height: 100%; }

.csshide {
  display: none; }

div.waiting {
  background: grey; }
